{% extends "base.html" %}
{% block title %}Dev Dashboard{% endblock %}

{% block content %}
<!-- Jumbotron for Main Heading -->
<div class="jumbotron text-center">
  <h1 class="display-4">Dev Dashboard</h1>
  <p class="lead">Welcome to your dashboard.</p>
</div>

<!-- Client IDs Section -->
<div class="container mb-4">
  <h2>Google Client ID</h2>
  <div class="alert alert-info">{{ social_google_client_id }}</div>

  <h2>Microsoft Client ID</h2>
  <div class="alert alert-info">
      {{ social_microsoft_client_id }}
  </div>
</div>

<!-- JWT and Session Fields -->
<div class="container">
  <h2>JWT Field</h2>
  <div class="alert alert-secondary" id="token"></div>
  <div class="alert alert-success" id="result"></div>

  <h2>Session Field</h2>
  {% if request.user.is_authenticated %}
  <div class="alert alert-primary">
    You are logged in as `{{ request.user }}` with this session!
  </div>
  {% else %}
  <div class="alert alert-danger">No any session login.</div>
  {% endif %}
</div>


<script>
  var jwt_token = localStorage.getItem("access_token");
  var jwt_token_refresh = localStorage.getItem("refresh_token");

  if (jwt_token) {
    // 測試 JWT refresh API是否有效
    $.ajax({
      type: "POST",
      url: "/{{ jwt_refresh_url }}",
      data: {
        refresh: jwt_token_refresh,
      },
      success: function (data) {
        localStorage.setItem("access_token", data.access);
        const jwt_token = data.access;
        // 測試 JWT verify API是否有效
        $.ajax({
          type: "POST",
          url: "/{{ jwt_verify_url }}",
          data: { token: jwt_token },
          headers: {
            Authorization: "Bearer" + " " + jwt_token,
          },
          success: function (data) {
            var json_string = JSON.stringify(data, null, 2);
            console.log(data);
            $("#token").text("Bearer " + jwt_token);
            $("#token").css("color", "green");
            if (json_string) {
              $("#result").text(" Token verified successfully!");
            }
            $("#result").css("color", "blue").css("white-space", "pre-line");
          },
          error: function (data) {
            var result = "please login " + data.responseText;
            $("#result").text(result).css("color", "red");
          },
        });
      },
      error: function (data) {
        var result = "please login " + data.responseText;
        $("#result").text(result).css("color", "red");
      },
    });
  } else {
    $("#token").text("Have not login with JWT token!");
  }
</script>

{% endblock %}